<% if object.errors.any? %>
		<div class="alert alert-error" id="error_explanation">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		  <h2>
		    <%= pluralize(object.errors.count, "error") %> prohibited
		    this from being saved:
		  </h2>
		  <ul>
		    <% object.errors.full_messages.each do |msg| %>
		      <li><%= msg %></li>
		    <% end %>
		  </ul>
		</div>

  <% end %>