<h1>About</h1>
<p>The KCL Keywords project emerged from a seminar series held in the Department of French at King’s College London in 2014-15. Each seminar explored a particular keyword – Language, Gloves, Scandal, among others – and the series culminated in a postgraduate symposium in which PhD students presented a keyword that related to their research. The event was such a success that the words were gathered together and preserved on a Wordpress blog.</p>
<p>
While acknowledged as a convenient way of recording the words, the linear scheme of a blog was felt to be a little restrictive. What had become clear over the course of the seminar and symposium was that the interest of the notion of the keyword lay not only in the significance of the words themselves but also in the ways they might link together. Of particular interest was the possibility of exploring connections between words that didn’t immediately appear to have much in common. 
</p>
<p>
At the same time, we started questioning the remit of the notion of the keywords as understood and defined from within the academy. We wondered how the idea worked within artistic practice, and wanted to find out more about how artists engaged – whether deliberately or not – with the idea of the keyword. 
Thus the project as it now stands was born. 
</p>
<p>
In October 2015 we held a day-long workshop and invited a small but diverse group of artists to join us in a series of presentations, discussions and activities that explored the boundaries of our understanding of the notion of ‘keyword’ as well as our particular kinds of engagement with it. You can see some photos from the workshop here. At the end of the workshop, we filmed a series of ‘talking heads’ style interviews with participants. You can see the results here.
The other pole of the project is this website. Working with web developer Mike Irvine, we are exploring the ways in which a non-linear web platform can help us to visualise connections between keywords that might otherwise have remained disparate. Thinking along the lines of quantitative analysis of manually inputted text, we are experimenting with the creation of diagrams of keyword connections with a view to expanding our database over time and thus developing ever more surprising and stimulating keyword constellations.
</p>



<h3>Participants</h3>
<h4>Postgraduate researchers from the French Department at King's</h4>
<p>Alice Hazard, Thomas Gould, Igor Reyner, Joel White, Jacob Bittner. </p>

<h3>Artists</h3>
<p>
Igor Maia – Composer</br>
Igor Maia is a Brazilian composer based in London. His compositions draws both on 21st century avant-garde techniques and Brazilian traditional music, creating music that relates to the Latin American culture but is expressed within European Classical music formats. He has received degrees from the Royal Conservatoire of The Hague (Holland) in 2010 and the State University of Campinas (Brazil) in 2013. He also participated in many Festivals and Courses with teachers such as Brian Ferneyhough, Martin Matalon, Jukka Tiensu, Toshio Hosokawa, Francesco Filidei, Marcel Reuter, among others. Currently he is a PhD Student at King’s College London under the supervision of Profs. Silvina Milstein and George Benjamin, funded by the CAPES Foundation of the Brazilian Ministry of Education
</p>
<p>
Robin Boothroyd – Poet
</br>
Robin Boothroyd was born in Germany and grew up in England. He lives in London. His poems have been published online at The Bohemyth, DOG-EAR and M58, and in print with Magma. In 2013 he won the COMPAS Poetry Competition. Meanwhile, a pamphlet of concrete poems about simultaneity, will be published by Sine Wave Peak in 2016. Robin's website is thecoldtapsings.com and you can follow him on Twitter @rfboothroyd.  
</p>
<p>
Florence Hazard - Set Designer</br>
Florence trained at Rose Bruford College where she obtained a first class degree in Theatre Design in 2012. Since graduating she has worked extensively across theatre, opera, events and advertising as a designer, assistant designer and model maker. She has designed for companies including Io Theatre Company, Epsilon Productions, Frinton Summer Theatre, RIFT, Theatre Melange, Theatre 503 and Immediate Theatre as well as assisting designers such as Gary McCann, Es Devlin, Tim Shortall and Tom Pye. As a designer she likes to explore abstract and atmospheric compositions that become an interwoven part of the story telling creating a rich and cohesive environment. Her website can be found at: www.florencehazard.com/
</p>
<p>
Raquel Claudino – Choreographer </br>
Raquel Claudino is a choreographer, filmmaker and researcher, working primarily with moving image and new technologies. She takes inspiration from history, philosophy, quantum physics and neuroscience, translating her beliefs into a visual narrative that inspires audiences to connect to their sense of being alive. In her latest film, Sing The Sand Into Pearls, she evokes a sense of awakening through the journey of the characters. This film has been showcased in 4 continents and has so far won 5 awards including Best Experimental, Art Lab, Best of Fest, Audience Award, and Best in Show.
</p>

